/*ESTILO GLOBAL*/
*{
    margin: 0; /*Zera a Margem*/
    padding: 0; /*Zera o Preenchimento*/
    box-sizing: border-box; /*Ajusta o Box Model*/
}

/*CONTEÚDO RAÍZ E DA PÁGINA*/
html, body{
    width: 100%; /*Largura de 100%*/
    min-height: 100vh; /*Altura Mínima de 100% do Viewport (Tela)*/
}

/*CONTEÚDO DA PÁGINA*/
body{
    position: relative; /*Posição Relativa*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha ao Centro no Eixo Perpendicular*/
    background-color: #F5F0F6; /*Cor de Fundo Branco*/
    color: #131200; /*Cor do Texto - Preto*/
}

/*TODAS AS IMAGENS*/
img{
    border-radius: 8px; /*Arredonda a Borda*/
    width: 100%; /*Largura de 100%*/
}

/*TODOS OS TÍTULOS*/
h1, h2, h3{
    margin-bottom: 48px; /*Margem Inferior de 48px*/
    text-align: center; /*Alinha o Texto ao Centro*/
}

/*TODOS OS TÍTULOS E LINKS*/
h1, h2, h3, a, button{
    font-family: 'Roboto Condensed', sans-serif; /*Fonte do Google - Roboto Condensed*/
}

/*TÍTULO IMPORTANTE*/
h1{
    margin: 96px 0 0 0; /*Margem de 96px no Topo e zera as demais*/
    font-size: 1.5em; /*Tamanho da Fonte de 150%*/
}

/*TODOS OS PARÁGRAFOS*/
p{
    font-family: 'Roboto Flex', sans-serif; /*Fonte do Google - Roboto Flex*/
    margin-bottom: 16px; /*Margem inferior de 16px*/
}

/*ULTIMA OCORRÊNCIA DO PARÁGRAFO*/
p:last-child{
    margin: 0; /*Zera a Margem*/
}

/*TODOS OS PARÁGRAFOS E LINKS*/
p, a, span{
    font-size: 0.75em; /*Tamanho da Fonte de 75%*/
}

/*TEXTOS IMPORTANTES NA PÁGINA*/
span{
    font-family: 'Roboto Flex', sans-serif; /*Fonte do Google - Roboto Flex*/
    font-weight: bold; /*Fonte em Negrito*/
    color: #00215e; /*Cor dos Links - Azul*/
}

/*CABEÇALHO DA PÁGINA*/
header{
    display: flex; /*Flexbox*/
    justify-content: center; /*Alinha o Eixo Principal ao Centro*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
    z-index: 1; /*Posição 1 da Camada*/
    background-color: #F5F0F6; /*Cor de Fundo - Branca*/
    width: 100%; /*Largura de 100%*/
    position: fixed; /*Posição Fixa*/
    top: 0; /*Alinha no Topo*/
    border-bottom: 2px solid #00215e; /*Borda Inferior de 2px Azul*/
    padding: 32px; /*Espaçamento em todos os lados de 32px*/
}

/*CONTAINER DO HEADER*/
.header-container{
    width: 100%; /*Largura de 100%*/
    display: flex; /*Flexbox*/
    justify-content: space-between; /*Distribui os espaços iguais, sem colocar um espaçamento nas laterais*/
}

/*LOGOTIPO DA MOBBIMAX*/
#logo{
    width: 104.48px; /*Largura de 104.48px*/
    height: 32px; /*Altura de 32px*/
}

/*BOTÕES DE ABRIR E FECHAR MENU NO MOBILE*/
#abrirMenuMobile, #fecharMenuMobile{
    cursor: pointer; /*Cursor de mãozinha*/
}

/*BOTÃO HAMBURGUER PARA ABRIR O MENU NO CELULAR*/
#abrirMenuMobile{
    width: 24px; /*Largura de 24px*/
    height: 24px; /*Altura de 24px*/
}

/*CLASSE ADICIONADA PELO JAVASCRIPT*/
#abrirMenuMobile.abrir-responsivo{
    display: none; /*Esconde o Botão*/
}

/*BOTÃO PARA FECHAR MENU NO CELULAR*/
#fecharMenuMobile{
    display: none; /*Esconde o Elemento*/
    width: 24px; /*Largura de 24px*/
    height: 24px; /*Altura de 24px*/
}

/*CLASSE ADICIONADA PELO JAVASCRIPT*/
#fecharMenuMobile.fechar-responsivo{
    z-index: 2; /*Camada 2*/
    display: inline; /*Aparece o Elemento*/
}

/*MENU DE NAVEGAÇÃO*/
#menu{
    display: none; /*Esconde o Menu*/
}

/*CLASSE ADICIONADA PELO JAVASCRIPT*/
#menu.menu-responsivo{
    background-color: #00215ef1; /*Cor de Fundo - Azul um pouco transparente*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
    justify-content: center; /*Alinha o Eixo Principal ao Centro*/
    gap: 48px; /*Espaçamento de 48px*/
    width: 100vw; /*Largura de 100% do Viewport (Tela)*/
    height: 100vh; /*Altura de 100% do Viewport (Tela)*/
    top: 0; /*Alinha no Topo*/
    left: 0; /*Alinha na Esquerda*/
    position: absolute; /*Posição Absoluta*/
}

/*LISTAS DO MENU*/
#menu li{
    list-style: none; /*Esconde as Marcações*/
}

/*LINKS DO MENU*/
#menu li a{
    border-radius: 4px; /*Arredonda a borda*/
    border: 1px solid #F5F0F6; /*Borda Branca de 1px*/
    padding: 16px 24px; /*Preenchimento de 16px na Vertical e de 24px nas laterais*/
    text-decoration: none; /*Retira o Sublinhado*/
    color: #F5F0F6; /*Cor do Texto - Branca*/
}

/*CONTAINER PRINCIPAL*/
.container{
    width: 100vw; /*Largura de 100% do Viewport*/
    max-width: 1200px; /*Largura Máxima de 1200px*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
    padding: 48px; /*Preenchimento de 48px em todos os lados*/
}

/*TEXTOS DOS CONTAINERS DA PÁGINA SERVIÇOS E ACESSÓRIOS*/
.servicos-container p, .servicos-container span, .acessorios-container p, .acessorios-container span{
    margin: 16px 32px; /*Margem de 16px na Vertical e de 32px nas Laterais*/
}

/*CONTAINER DE TEXTO DA PÁGINA DE SERVIÇOS*/
.servicos-content-text{
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/ 
    align-items: center; /*Alinha o Eixo Perpendicular ao centro*/
}

/*TEXTO IMPORTANTE DA PÁGINA DE SERVIÇOS - SPAN*/
#destaque-servicos{
    margin: 24px 0 0 0; /*Margem no topo de 24px e zera as demais*/
}

/*TODAS AS IMAGENS DO CONTEÚDO PRINCIPAL*/
main section img{
    box-shadow: 0.3px 0.3px 3px #13120088; /*Sombra Preta com Blur de 3px*/
    margin: 48px 0; /*Margem Vertical de 48 px e zera a vertical*/
}

/*LISTA NÃO ORDENADAS DA SEÇÃO DO MENU PRINCIPAL*/
main section ul{
    margin: 0 16px; /*Zera a Margem Vertical e Margem de 16ph na Horizontal*/
}

/*PRIMEIRO ITEM DA LISTA NÃO ORDENADA DA SEÇÃO DO MENU PRINCIPAL*/
main section ul li:first-child{
    margin-top: 48px; /*Margem Superior de 48px*/
}

/*TODOS OS ITENS DA LISTA NÃO ORDENADA DA SEÇÃO DO MENU PRINCIPAL*/
main section ul li{
    font-family: 'Roboto Flex', sans-serif; /*Fonte do Google - Roboto Flex*/
    margin-top: 16px; /*Margem Superior de 16px*/
    font-size: 0.75em; /*Tamanho da fonte de 75%*/
}

/*ULTIMO ITEM DA LISTA NÃO ORDENADA DA SEÇÃO DO MENU PRINCIPAL*/
main section ul li:last-child{
    margin-bottom: 16px; /*Margem Inferior de 16px*/
}

/*ESCONDE O ELEMENTO NO MOBILE*/
.hidden-mobile{
    display: none; /*Esconde o Elemento*/
}

/*TEXTO IMPORTANTE DA PÁGINA ACESSÓRIOS - SPAN*/
.acessorios-content-text{
    display: flex; /*Flexbox*/
    justify-content: center; /*Alinha o Eixo Principal ao Centro*/
    width: 300px; /*Largura de 300px*/
}

/*TODOS OS TITULOS PRINCIPAIS DA PÁGINA SERVIÇOS - ACESSÓRIOS - LOJAS*/
#servicos-title, #acessorios-title, #lojas-title{
    margin-bottom: 32px; /*Margem Inferior de 32px*/
}

/*CONTAINER DOS CARDS*/
.cards-container{
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
}

/*TODOS OS CARDS*/
.cards{
    width: 300px; /*Largura de 300px*/
    height: 420px; /*Altura de 360px*/
    margin-bottom: 32px; /*Margem Inferior de 32px*/
    border-radius: 8px; /*Arredonda a Borda*/
    box-shadow: 0.3px 0.3px 4px #13120065; /*Sombra do Card*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    align-items: center; /*Alinha os Itens ao Centro*/
    list-style: none; /*Tira as marcações da lista*/
}

/*TÍTULOS DOS CARDS*/
.cards h2{
    font-family: 'Roboto Flex', sans-serif; /*Fonte do Google - Roboto Flex*/
    font-size: 1.62em; /*Tamanho da Fonte de 128%*/
    margin: 48px 0 0 0; /*Zera a Margem*/
}

/*IMAGEM DOS CARDS*/
.cards img{
    width: 220px; /*Largura de 220px*/
    height: 200px; /*Altura de 200px*/
    margin: 32px; /*Margem em todos os lados de 32px*/
    object-fit: cover; /*Coloca a Imagem cobrindo toda a tela, sem perder qualidade*/
    object-position: center center; /*Alinha a imagem ao centro*/
    border-radius: 4px; /*Arredonda a Borda*/
}

/*BOTÕES DOS CARDS*/
.cards button{
    border-radius: 4px; /*Arredonda a Borda*/
    border: none; /*Tira a Borda*/
    background-color: #00215e; /*Cor de Fundo - Azul*/
    width: 114px; /*Largura de 114px*/
    height: 32px; /*Altura de 32px*/
}

.cards button a{
    color: #F5F0F6; /*Cor do Texto - Branca*/
    font-size: 1em; /*Tamanho da Fonte de 75%*/
    text-decoration: none; /*Remove a Decoração do Texto*/
}

/*ARTIGO LOJA*/
.lojas{
    margin: 48px 0; /*Margem de 48px na Vertical e de 0px nas Laterais*/
    display: flex; /*Flexbox*/
    flex-direction: column; /*Alinha em Colunas*/
    justify-content: start; /*Alinha o Eixo Principal*/
    align-items: center;
}

/*IMAGENS DO ARTIGO LOJA*/
.lojas img{
    object-fit: cover; /*Coloca a Imagem cobrindo toda a tela, sem perder qualidade*/
    object-position: center center; /*Alinha a imagem ao centro*/
    width: 300px; /*Largura de 300px*/
    height: 240px; /*Altura de 240px*/
    margin: 32px 0; /*Margem Vertical de 32px e 0px nas laterais*/
}

/*TÍTULO DA LOJA*/
.lojas-span{
    text-align: center; /*Alinha o Texto ao Centro*/
    font-size: 1.08em; /*Tamanho da fonte de 108%*/
}

/*PARÁGRAFOS DAS LOJAS*/
.lojas p{
    margin-bottom: 8px; /*Margem Inferior de 8px*/
}

/*TEXTO IMPORTANTE DAS REDES SOCIAIS*/
#social-media{ 
    font-size: 0.92em; /*Tamanho da Fonte de 92%*/
}

/*FACEBOOK E INSTAGRAM*/
#facebook-mobbimax, #instagram-mobbimax{
    font-family: 'Roboto Condensed', sans-serif; /*Fonte do Google - Roboto Condensed*/
}

/*FACEBOOK*/
#facebook-mobbimax{
    margin-top: 32px; /*Margem Superior de 32px*/
}

/*RODAPÉ*/
footer{
    background-color: #F5F0F6;
    position: absolute; /*Posição Absoluta ao Body*/
    bottom: -96px; /*Coloca o elemento no topo inferior com uma margem de 96px*/
    height: 96px; /*Altura de 96px*/
    display: flex; /*Flexbox*/
    justify-content: center; /*Alinha o Eixo Principal ao Centro*/
    align-items: center; /*Alinha o Eixo Perpendicular ao Centro*/
    border-top: 2px solid #00215e; /*Borda Azul de 2px*/
    width: 100%; /*Largura de 100%*/
}

/*ICONES*/
.icons {
    width: 27px; /*Largura de 27px*/
    margin-left: 32px; /*Margem a Esquerda de 32px*/
}

/*ICONE DO WHATSAPP*/
#whatsapp{
    width: 32px; /*Largura de 32px*/
}
